/* Alyse Armentrout, Vivian Pham, Max Lindquist, Emily Lin */
h1,p{
    text-align: center;
}

#delete{
    position:absolute;
    right:43%;
    bottom:5%;
}

#update{
    position:absolute;
    right:50%;
    bottom:5%;
}
